<section class="card" aria-labelledby="titulo-lista-usuarios">
  <h1 id="titulo-lista-usuarios">Lista de usuários</h1>

  <div class="tabela-container">
    <table>
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Idade</th>
        </tr>
      </thead>
      <tbody>
        @for (usuario of usuarios; track usuario.id) {
          <tr>
            <td>{{ usuario.id }}</td>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.idade }} anos</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</section>
