*, *::before, *::after{
    box-sizing: border-box;
    margin: 1;
    padding: 1;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #fdfdfd;
    background: linear-gradient(90deg, #043d25, #165c06);
}

header img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

header{
    background: linear-gradient(90deg, #043d25, #165c06);
    color: white;
    text-align: center;
    align-items: right;
    padding: 40px 20px;
}

header h1{
    
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 8px;
}

header p{
    font-size: 1.1rem;
    opacity: 0.85;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    transition: color .2 ease;
}

a:hover{
    color: #ffffff;
    text-decoration: underline;
}

nav{
    background: linear-gradient(90deg, #043621, #124d05);
    display: flex;
    gap: 4px;
    padding: 10px 16px 10px ;
    margin: 10px 200px;
    border-radius: 20px;
    
}

nav a{
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 600;
    transition: background .2s;
}

nav a:hover{
    background: rgba(3, 253, 57, 0.15);
}

main{
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

section{
    margin-bottom: 32px;
}

h2{
    font-size: 1.4rem;
    font-weight: 700;
    color: #ffffff;
    border-left: 4px solid #ffffff;
    padding-left: 12px;
    margin-bottom: 12px;
}

ul{
    list-style: none;
    padding: 0;
}

ul li{
    padding: 8px 0 8px 20px;
    border-bottom: 1px solid #ffffff;
    position: relative;
    font-size: .95rem;
    color: #ffffff
}

ul li::before{
    content: ">";
    color: #ffffff;
    position: absolute;
    left: 0;
    font-weight: 700;
}

footer{
    background: linear-gradient(90deg, #043621, #124d05);
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 24px 200px;
    font-size: .9rem;
    margin-top: 100px;
}

footer .sobre{
    background: linear-gradient(90deg, #043621, #124d05);
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 24px 20px;
    font-size: .9rem;
    margin-top: 40px;
}

footer .contato{
    background: linear-gradient(90deg, #043621, #124d05);
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
    padding: 24px 20px;
    font-size: .9rem;
    margin-top: 40px;
    
}

.button{
    background: linear-gradient(90deg, #043621, #124d05);
    color: #ffffff;
    padding: 10px 16px ;
    margin: right;
    border-radius: 20px;
    transition: background .2s;
    border-color: #ffffff;
    
}
.button:hover{
    background: rgba(195, 197, 195, 0.15);
}