<main id="inicio" class="pagina">
  <h2 class = "signal">Atividades de Signals</h2>
  <!-- Cada id corresponde a um link href existente na navegação. -->
  <section id="contador" class="secao-componente">
    <app-contador></app-contador>
  </section>

  <section id="imagem" class="secao-componente">
    <app-visualizador-imagem></app-visualizador-imagem>
  </section>

  <section id="usuarios" class="secao-componente secao-usuarios">
    <app-lista-usuarios></app-lista-usuarios>
  </section>

  <section id="autenticacao" class="secao-componente">
    <app-autenticacao></app-autenticacao>
  </section>

  <section id="alunos" class="secao-componente secao-usuarios">
    <app-cadastro-alunos></app-cadastro-alunos>
  </section>

  <section id="cadastro" class="secao-componente secao-usuarios">
    <app-cadastro-usuarios></app-cadastro-usuarios>
  </section>

  <section id="eleicao" class="secao-componente secao-usuarios">
    <app-eleicao></app-eleicao>
  </section>

  <section id="tarefas" class="secao-componente secao-usuarios">
    <app-lista-tarefas></app-lista-tarefas>
  </section>
</main>
